#containerNotes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#siteNotes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 930px;
    margin: auto;
}

.card {
    width: 18rem;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card-body {
    position: relative;
}

a {
    text-decoration: none;
}

#pagination {
    text-align: center;
    margin: auto;
}

form.hide-submit input[type="submit"] {
    display: none;
}

form input[type="submit"] {
    display: none;
}

.optionsButtons {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    z-index: 2;
}

.optionsButtons form label svg {
    position: absolute;
    bottom: 3px;
    color: black;
}
svg {
    color: black;
}

.dateInfo {
    z-index: 3;
}

.checkboxDelete {
    z-index: 99;
}

/*Important:*/
.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    /* edit: fixes overlap error in IE7/8,
       make sure you have an empty gif
    background-image: url('empty.gif');*/
}

.link-button {
    margin-top: 17px;
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.sharedNotesByYou  div h6{
    font-style: italic;
}

.sharedNotesWithMe  div h6{
    font-style: italic;
    color: white;
}

.sharedNotesWithMe div h6{
    color: #505451 !important;
}


.ownerNotes  div h6{
    font-style: italic;
}