h1 {
    text-transform: uppercase;
    color: #e01a4f;
    font-size: 48px;
    letter-spacing: -3px;
    text-align: center;
    margin: 120px 0 10px 0;
    transition: 0.2s linear;
}

.signinbtn {
    background: #e01a4f !important;
    color: white !important;
    display: block !important;
    width: 100%; !important;
    /*max-width: 680px !important;*/
    height: 50px !important;
    border-radius: 8px !important;
    margin: 0 auto !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: "Montserrat", sans-serif !important;
    box-shadow: 0 15px 30px rgba(233, 30, 99, 0.36) !important;
    transition: 0.2s linear !important;
}
.signinbtn:hover {
    box-shadow: 0 0 0 rgba(233, 30, 99, 0) !important;
}

.separator {
    display: block;
    margin: 30px auto 10px;
    text-align: center;
    height: 40px;
    position: relative;
    background: transparent;
    color: rgba(15, 19, 42, 0.4);
    font-size: 13px;
    width: 100%;
   /* max-width: 680px;*/
}
.separator::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
}
.separator::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
}

.google__btn,
.twitter__btn,
.facebook__btn {
    display: block;
    width: 100%;
    /*max-width: 680px;*/
    margin: 20px auto;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    border: none;
    line-height: 40px;
}

/*Google*/
.google__btn.google__btn,
.twitter__btn.google__btn {
    background: #5b90f0;
    color: white;
    box-shadow: 0 15px 30px rgba(91, 144, 240, 0.36);
    transition: 0.2s linear;
}
.google__btn.google__btn .fa,
.twitter__btn.google__btn .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
}
.google__btn.google__btn:hover,
.twitter__btn.google__btn:hover {
    box-shadow: 0 0 0 rgba(91, 144, 240, 0);
}

/*Twitter*/
.google__btn.twitter__btn,
.twitter__btn.twitter__btn {
    background: #00acee;
    color: white;
    box-shadow: 0 15px 30px rgba(0, 172, 238, 0.36);
    transition: 0.2s linear;
}
.google__btn.twitter__btn .fa,
.twitter__btn.twitter__btn .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
}
.google__btn.twitter__btn:hover,
.twitter__btn.twitter__btn:hover {
    box-shadow: 0 0 0 rgba(37, 40, 45, 0);
}

/*Facebook*/
.google__btn.facebook__btn,
.facebook__btn.facebook__btn {
    background: #3b5998;
    color: white;
    box-shadow: 0 15px 30px rgba(59, 69, 152, 0.36);
    transition: 0.2s linear;
}
.google__btn.facebook__btn .fa,
.facebook__btn.facebook__btn .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
}
.google__btn.facebook__btn:hover,
.facebook__btn.facebook__btn:hover {
    box-shadow: 0 0 0 rgba(37, 40, 45, 0);
}